.fish--list {
    flex: 2.5;
    display: flex;
    flex-direction: column;
    background-color: rgb(146, 186, 247);
    margin-right: 30px;
    padding: 30px 0 32px 0;
    width: fit-content;
    height: 100px max-content;
    border: 4px solid rgb(27, 46, 74);
}

.fish--list-h2 {
    text-align: center;
    color: black;
    font-size: 30px;
    padding: 0 10px;
}

.fish--details-species {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 32px;
}

.fish--details-img {
    height: 220px;
    border: rgb(238, 243, 250) solid 4px;
}

.fish--details-species-list {
    display: table;
    text-align: left;
    width: 205px;
    height: 220px;
    background-color: rgb(238, 243, 250);
    padding-left: 15px;
    border:  rgb(51, 87, 140) solid 4px;
}

.fish--details-species ul {
    display: table-cell;
    vertical-align: middle;
}

.fish--details-species li  {
    list-style: none;
}