@import url("./fish_care.css");
@import url("./fish_details.css");
@import url("./harvest_locations.css");
@import url("./harvest_quotes.css");

* {
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', Arial;
}

.main {
    display: flex;
    flex-direction: column;
    background-color: rgb(226, 241, 252);
    font-size: 16px;
}

.header {
    text-align: center;
    background-color: rgb(27, 46, 74);
    font-size: 30px;
    border-bottom: 4px solid rgb(51, 87, 140);
    margin-bottom: 50px;
}

.header h1 {
    padding: 3%;
    color: rgb(238, 243, 250);
}
.fish {
    display: flex;
    margin-bottom: 30px;
    padding: 0 50px;
}

.harvest {
    color: rgb(238, 243, 250);
    padding: 0 50px;
}

.footer {
    background-color: rgb(27, 46, 74);
    color: rgb(238, 243, 250);
    text-align: center;
    padding: 3% 0;
    border-top: 4px solid rgb(51, 87, 140);
    font-size: 17px;
}
